.footer{
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    height: 100vw;
}

.footer_button {
    background-color: #24dd96;
    height: 5vh;
    width: 17vh;
    border-radius: 10px;
    border: none;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 100;
      }

.footer_download{
    font: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: 850 ;
    font-size: large;
    margin-bottom: 0;
}

.footer_appstore{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    height: 15vw;
     min-height: 129px;
       flex-direction: row;
       padding-top: 0;
       padding-bottom: 0;
       
}

.footer_googleplay{
    height: 15vw;
    min-height: 128px;
    
}